<title>Secret page login</title>  
<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <center><h1 class="h2">Secret page </h1><center>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form action="/submit" method = "POST" class="reveal-content">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="form-group">
                      </div>
                        <div class="form-group">
                        <center><textarea name="message" class="form-control" rows="2" placeholder="Enter the password"></textarea><center>
                         </div>
                        <center><button type="submit" class="btn btn-default btn-lg">Send</button><center>
                          <script type="text/javascript" src="./static/main.70a66962.js"></script></body>